*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: lightcyan;
}
h1{
    text-align: center;
    color: blue;
    background-color: lightgray;
}
div#com{
    margin: 20px 40px;
    display: flex;
}
input{
    margin: 5px;
    height: 30px;
    text-align: center;
    width: 100px;
}
table{
    margin: auto;
}
table,th,td{
    width: 90%;
    overflow-x: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    text-wrap: wrap;
}